* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: auto;
}

.py {
    padding-left: 1rem;
    padding-right: 1rem;
}

.my {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mb {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}


.p-5 {
    padding: 5rem;
}

.border {
    border: solid;
}

.text-white {
    color:#fff;
}

.text-primary {
    color:rgb(255, 198, 43);
}

.bg-dark {
    background: #333;
}

.btn {
    color: #fff;
    display: inline-block;
}

.btn:hover {
    color:rgb(255, 198, 43);
    cursor: pointer;
}

.btn-primary {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: small;
}

.text-center {
    text-align: center;
}

/* Navbar */
#navbar {
    position: fixed;
    width: 100%;
    opacity: 0.85;
}

#navbar .container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#menu ul {
    display: flex;
    justify-content: space-between;
}

#showcase {
    top: 0;
    left: 0;
    background:url('./img/rest1.jpg') no-repeat center center/cover;
    height: 100vh;
}

#showcase-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* main */
#recommend {
    display: flex;
    justify-content: space-between;
}

.food img {
    object-fit: cover;
    width:200px;
    height:200px;
}

/* Footer */
footer {
    padding: 10px 0;
    font-size: small; 
    border-top: white 1px solid;
    z-index: 1;
}